:host ::ng-deep .p-tag {
  background: none;
}
.Elite {
    border-radius: 10%;
    background-color: #2E4156;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 0.25rem 0.4rem;
    border-radius: 4px;

   
  }
.Prime  {
    border-radius: 10%;
    background-color: var(--secondary-color);
    font-size: 0.75rem;
    font-weight: 700;
    padding: 0.25rem 0.4rem;
    border-radius: 4px;

}

.Basic {
    border-radius: 10%;
    background-color: #AAB7b7;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 0.25rem 0.4rem;
    border-radius: 4px;


}
