<section class="dashboard overflow-hidden">
    <header>
        <aheader></aheader>
    </header>
    <main class="overflow-hidden">
        <div class="grid">
            <div class="col-12 md:col-1 lg:col-1 p-0  h-40 surface-border border-right-1">
                <div class="text-center">
                    <app-asidebar></app-asidebar>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-11 p-0">
                <div class="p-3">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </main> 
</section>