<section>
    <header>
        <app-header></app-header>
    </header>
    <main>
        <div class="flex flex-wrap justify-content-center gap-3 mt-8">
            <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
                <form [formGroup]="loginForm" (submit)="submitForm()">
                    <div class="text-center mb-5">
                        <img src="../../../assets/images/logo2.png" alt="Image"  height="100" class="mb-3">
                        <div class="text-800 text-md font-medium mb-1">Welcome Back ! </div>
                    </div>
    
                    <div>
                        <label for="email" class="block text-900 font-medium mb-2">Email <span>*</span></label>
                        <input 
                        id="email" type="text" formControlName="email"aria-describedby="email"  placeholder="Email address" pInputText class="w-full mb-4">
                        @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
                              <p-messages [(value)]="emailRequired" [enableService]="false"/>
                        }
                        @if (loginForm.get('email')?.hasError('invalidEmail')) {
                            <p-messages [(value)]="invalidEmailMessage" [enableService]="false" />
                        }
                        <label for="password" class="block text-900 font-medium mb-2">Password <span>*</span></label>
                        <input id="password" type="password" formControlName="password" placeholder="Password" pInputText class="w-full mb-5">
                        @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
                            <p-messages [(value)]="passwordRequired" [enableService]="false" />
                      }
                        <button pButton pRipple label="Sign In" icon="pi pi-sign-in" class="w-full"></button>
                    </div>
                    <p-toast />
                </form>
            </div>
        </div>


    </main>
</section>