:host ::ng-deep .p-avatar  {
    width: 50%;
    object-fit:cover;
}


:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {

    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

:host ::ng-deep .p-paginator .p-paginator-pages {
    color: var(--primary-color);
}

:host ::ng-deep .p-paginator-first   {
    color: var(--primary-color);
}
:host ::ng-deep .p-paginator-next {
    color: var(--primary-color);
}

:host ::ng-deep .p-paginator-last {
    color: var(--primary-color);
}
:host ::ng-deep .p-paginator-prev {
    color: var(--primary-color);
}
:host ::ng-deep .p-paginator-rpp-options {
    color: var(--primary-color);
}


.line {
    text-align: left;
    padding: 1rem 1rem;
    border: 1px solid #dee2e6;
    border-width: 1px 0 2px 0;
    font-weight: 600;
    color: #212529;
    background: #ffffff;
    transition: box-shadow 0.15s;

}