:host ::ng-deep .p-avatar  {
    width: 50%;
    object-fit:cover;
}


.line {
    text-align: left;
    padding: 1rem 1rem;
    border: 1px solid #dee2e6;
    border-width: 1px 0 0 0;
    font-weight: 600;
    color: #212529;
    background: #ffffff;
    transition: box-shadow 0.15s;

}