<section class="dashboard">
    <div class="grid lg:pt-7">

        <div class="col-12 md:col-6 lg:col-3">
            <div class="p-3 h-8rem border-round-sm bg-primary-reverse surface-border border-1">
                <div class="grid">
                    <div class="col">
                        <div class="border-round-sm">

                            <h3 class="capitalize text-cyan-900">Movies</h3>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center p-3 bg-yellow-50 
                        text-primary border-round-sm ">

                            <i class="pi pi-video" style="font-size: 2.5rem" style="color: slateblue"></i>
                        </div>
                        <p class="text-right mr-6">500</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="p-3 h-8rem border-round-sm bg-primary-reverse surface-border border-1">
                <div class="grid">
                    <div class="col">
                        <div class="border-round-sm">
                            <h3 class="capitalize text-cyan-900">users</h3>

                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center p-3 bg-green-50 text-primary border-round-sm ">
                            <i class="pi pi-id-card" style="font-size: 2.5rem" style="color: slateblue"></i>
                        </div>
                        <p class="text-right mr-6">1500</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="p-3 h-8rem border-round-sm bg-primary-reverse surface-border border-1">
                <div class="grid">
                    <div class="col">
                        <div class="border-round-sm">
                            <h3 class="capitalize text-cyan-900">subscription</h3>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center p-3 bg-pink-50 text-primary border-round-sm ">
                            <i class="pi pi-bell" style="font-size: 2.5rem" style="color: slateblue"></i>
                        </div>
                        <p class="text-right mr-6">1200</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="p-3 h-8rem border-round-sm bg-primary-reverse surface-border border-1">
                <div class="grid">
                    <div class="col">
                        <div class="border-round-sm">
                            <h3 class="capitalize text-cyan-900">Request</h3>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center p-3 bg-cyan-50 text-primary border-round-sm ">
                            <i class="pi pi-envelope" style="font-size: 2.5rem" style="color: slateblue"></i>
                        </div>
                        <p class="text-right mr-6">100</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>