@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.scss";

a {

    text-decoration: none;
}

:root {
    --primary-color:#57606f;
    --secondary-color:#fac307;
  }



 .ui-button {
    border-color: var(--primary-color); 
    outline: none;
  }
  
  /* Optional: Change outline color when button is focused */
  .ui-button:focus {
    border-color: #FF5733; /* Set your desired outline color when focused */
    box-shadow: 0 0 5px #FF5733; /* Optional: Adds a glow effect when focused */
  }
  

body,body::after,body::before {

    margin: 0;

}




body {
  --sb-track-color: white;
  --sb-thumb-color:var(--primary-color);
  --sb-size: 5px;
}

::-webkit-scrollbar {
  height:var(--sb-size);
  width: var(--sb-size)
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}



.p-datatable .p-datatable-header  {
  background: none;
}


 .p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
  color: var(--secondary-color);
}


 .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {

  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

 .p-paginator .p-paginator-pages {
  color: var(--primary-color);
}

 .p-paginator-first   {
  color: var(--primary-color);
}
 .p-paginator-next {
  color: var(--primary-color);
}

 .p-paginator-last {
  color: var(--primary-color);
}
 .p-paginator-prev {
  color: var(--primary-color);
}
 .p-paginator-rpp-options {
  color: var(--primary-color);
}

.p-datatable .p-sortable-column.p-highlight {

  color: var(--primary-color);
}

.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
  color: var(--primary-color);
}
.p-paginator .p-paginator-pages .p-paginator-page {
  color: var(--secondary-color);
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
  background-color: var(--primary-color);
}

.p-focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.2px var(--primary-color);
}


.p-button.p-button-outlined {
  color: var(--primary-color) ;
}


// .p-tag  {
//   background:var(--primary-color);
// }


